
$primary: rgb(38, 17, 78);
$secondary: rgb(77, 40, 145);
$tertiary: rgb(220, 208, 243);
$blackout1: rgb(17, 17, 17);
$blackout2: rgb(41, 41, 41);
$blackout3: rgb(221, 221, 221);
$footerHeight: 30px;
$font: 'Roboto Slab', serif;

$font-1: 'Nanum Brush Script', cursive;
$font-2: 'Nanum Pen Script', cursive;

$font-4: 'Marck Script', cursive;
$font-5: 'Caveat Brush', cursive;


$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;
body, html {
cursor:url('/assets/img/hand-cursor.png'), default;
  position: relative;
  font-family: $font;
  background-color: #ffd500;
  margin: 10px;
}
.header-row{
  background-image: url("/assets/img/tl-gh.png");
  background-repeat: no-repeat;
  background-size: 50%;
  height:150px;
  background-position-x: 50%;
}
#game-header{
  height: 30%;
  margin:10px;
  padding: 5px;
  width:100%;
  font-family : Bangers;
  font-size: 60px; 
  color: #000;
}
.player{
  width:90%;
  font-family : Bangers;
  font-size: 40px; 
  color: #000;
}
.active{
  // border-radius: 50%!important;
  background-color: greenyellow;
  color: #daa520;
}
.played{
  // border-radius: 50%!important;
  background-color: slategrey;
  color: #daa520;
}
.team{
  width:90%;
  font-family : Bangers;
  font-size: 40px; 
  color: #000;
}
.playzone{
    .wrapper{
      width: 90%;
      margin: 0 auto;
      max-width: 80rem;
    }

  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }

  .gamecard{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }

  .front,
  .back{
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    min-height: 450px;

    //height: auto;
    border-radius: 15px;
    color: #fff;
    font-size: 1.5rem;
  }

  .back{
  //   background: rgba(237,242,196,1);
  // background: -moz-linear-gradient(top, rgba(237,242,196,1) 0%, rgba(252,255,214,1) 34%, rgba(252,255,214,1) 66%, rgba(237,242,196,1) 100%);
  // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,242,196,1)), color-stop(34%, rgba(252,255,214,1)), color-stop(66%, rgba(252,255,214,1)), color-stop(100%, rgba(237,242,196,1)));
  // background: -webkit-linear-gradient(top, rgba(237,242,196,1) 0%, rgba(252,255,214,1) 34%, rgba(252,255,214,1) 66%, rgba(237,242,196,1) 100%);
  // background: -o-linear-gradient(top, rgba(237,242,196,1) 0%, rgba(252,255,214,1) 34%, rgba(252,255,214,1) 66%, rgba(237,242,196,1) 100%);
  // background: -ms-linear-gradient(top, rgba(237,242,196,1) 0%, rgba(252,255,214,1) 34%, rgba(252,255,214,1) 66%, rgba(237,242,196,1) 100%);
  // background: linear-gradient(to bottom, rgba(237,242,196,1) 0%, rgba(252,255,214,1) 34%, rgba(252,255,214,1) 66%, rgba(237,242,196,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf2c4', endColorstr='#edf2c4', GradientType=0 );
}
.c-bkg{
  background: rgba(237,242,196,1);
  background: -moz-linear-gradient(top, rgba(237,242,196,1) 0%, rgba(252,255,214,1) 34%, rgba(252,255,214,1) 66%, rgba(237,242,196,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,242,196,1)), color-stop(34%, rgba(252,255,214,1)), color-stop(66%, rgba(252,255,214,1)), color-stop(100%, rgba(237,242,196,1)));
  background: -webkit-linear-gradient(top, rgba(237,242,196,1) 0%, rgba(252,255,214,1) 34%, rgba(252,255,214,1) 66%, rgba(237,242,196,1) 100%);
  background: -o-linear-gradient(top, rgba(237,242,196,1) 0%, rgba(252,255,214,1) 34%, rgba(252,255,214,1) 66%, rgba(237,242,196,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,242,196,1) 0%, rgba(252,255,214,1) 34%, rgba(252,255,214,1) 66%, rgba(237,242,196,1) 100%);
  background: linear-gradient(to bottom, rgba(237,242,196,1) 0%, rgba(252,255,214,1) 34%, rgba(252,255,214,1) 66%, rgba(237,242,196,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf2c4', endColorstr='#edf2c4', GradientType=0 );
}
    
  }

  .front:after{
    position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .2;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .gamecard-hover .front,
  .gamecard-hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }

  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      
      
  }

  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
      font-size: 40px;
        font-family: Nanum Pen Script;
        color: darkslategray;
      .a-side{
        font-size: 60px;
        font-family: Bungee;
        color: white;
        height: auto;
      }
  }
  

  .gamecard .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }

  .gamecard .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }

  .gamecard-hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }

  .gamecard-hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }

  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }

  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }

  .front .inner span{
    color: rgb(128, 34, 34);
    font-family: 'Montserrat';
    font-weight: 300;
  }

  .card-controls{
    
    min-height: 150px;
    
  }
  .avote-text{
    font-size: 40px;
    font-weight: bolder;
  }
  .tvote-text{
    font-size: 40px;
    font-weight: bolder;
  }
  .t-btn, .a-btn{
    border-radius: 15px;
  }


.true{
  border-width: 5px;
  border-color: #42b60a;
  // border-style: groove;
  background-color: #42b60a;
  color: white;
}
.false{
  border-width: 5px;
  border-color: #ff1915;
  // border-style: groove;
  background-color: #ff5358;
  color: white;
}



.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn-sq-lg {
  margin-top:10px;
  width: 45% !important;
  height: 200px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

.avote{
  background-color: #17b9e9;
}

.tvote{
  background-color: #17b9e9;
}

	span {cursor:pointer; }
		.number{
			margin-bottom:5px;
		}
		.minus, .plus{
			width:100px;
			height:100px;
			//background:#f2f2f2;
			border-radius:4px;
			padding:8px 5px 8px 5px;
			//border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
		}
		input{
			height:100px;
      width: 100px;
      text-align: center;
      font-size: 100px;
			border:1px solid #ddd;
			border-radius:15px;
      display: inline-block;
      vertical-align: middle;
      font-family: Bangers;
    }
  #ImageModal{
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
    background-color: #ffd500;
  #startZone{
    width :100%;
    height: 100px;
    border: 5px solid #ffd454;
    margin: 0;
    padding: 0;
  }

    .modal-dialog {
      width: 100%;
      height: 80%;
      margin: 0;
      padding: 0;
    }

    .modal-content {
      width:100%;
      height: auto;
      min-height: 100%;
      border-radius: 0;
    }
  }